main h1 { font-size: 1.6em; 2px solid black; }
main h1 { background-color: rgb(256, 150, 70); display: inline; padding: 10px 150px 20px 10px; }

.sidebar nav ul { list-style-type: none; line-height: 2; font-size: 1.3em; font-weight: bold; }

